<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignemnt01">

        <activity
            android:name=".ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".LoginFile"
            android:exported="true" />

        <activity
            android:name=".SignupFile"
            android:exported="true" />

        <activity
            android:name=".AppMainScreen"
            android:exported="true" />

        <activity
            android:name=".AppSearchPage"
            android:exported="true" />

        <activity
            android:name=".AppSearchFilter"
            android:exported="true" />

        <activity
            android:name=".AppMsgScreen"
            android:exported="true" />

        <activity
            android:name=".AppCallScreen"
            android:exported="true" />

        <activity
            android:name=".AppMsgActivity"
            android:exported="true" />


    </application>

</manifest>